<body>
<table class="table">
    <tbody>
    <tr>
        <td>Диагональ</td>
        <td>{{ product.diagonal}}</td>
    </tr>
    <tr>
        <td>Тип матрицы</td>
        <td>{{ product.display_type}}</td>
    </tr>
        <tr>
        <td>Частота дисплея</td>
        <td>{{ product.display_freq}}</td>
    </tr>
    <tr>
        <td>Разрешение экрана</td>
        <td>{{ product.resolution}}</td>
    </tr>
    <tr>
        <td>Оперативная память</td>
        <td>{{ product.ram}}</td>

    <tr>
        <td>Наличие функции смарт</td>
        <td>{{ product.smart_fync }}</td>
    </tr>
    <tr>
        <td>Наличие функции 3D</td>
        <td>{{ product.display_3d_fync}}</td>
    </tr>
    <tr>
        <td>Мощность динамиков</td>
        <td>{{ product.speaker_power}}</td>
    </tr>
    </tr>
    <tr>
        <td>Количество USB портов/td>
        <td>{{ product.usb_qty}}</td>
    <tr>
    <tr>
        <td>Количество HDMI портов/td>
        <td>{{ product.hdmi_qty}}</td>
    <tr>
    </tbody>
</table>
</body>
</html>
